@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'LOTTERIACHAB';
    text-align: center;
    position: relative;
    top: 50px;

    box-sizing: border-box;
    font-size: 32px;
}

body{
    /* background-color: #fff; */
    background-color: #3843d0;

    margin : 0;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.date{
    font-family: 'LOTTERIACHAB';
    font-size: 75px;
    /* color: #3843d0; */
    color: black;
    color: #3843d0;

    margin: 0;
    padding: 30px;

}

.time {
    font-family: 'LOTTERIACHAB';
    font-size: 120px;
    font-weight: normal;
    color: #3843d0;

    margin: 0;
    padding: 30px;

    margin-top: 10px;
}

  
.clock {
    min-width: 360px;
    margin: 0 auto;
    padding: 50px;

    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border: 5px solid white;
    /* border-style: 10px dotted white; */
    border-radius: 18px;
}
  
.today {
  margin-bottom: 10px;
}
  
